@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  width: 100%;
  overflow: hidden;
}

.track {
  width: max-content;
  animation: scroll 15s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-70%);
  }
}
